body{
  background-image: url(././Assets/borhen-background.jpg);

}
.App {
  text-align: center;  
  color: black;
  padding: 40px;
  font-family: Arial;

}

.App h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: whitesmoke;
  padding-top: 15px;

}
.App h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: whitesmoke;
  padding-top: 15px;


} 



  